<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/sale.js" defer></script>
    <link rel="stylesheet" href="./style/default.css">
    <title>Sale's List</title>
</head>

<body>
    <aside>
        <h1>Sales</h1>
        <form id="sale-form">
            <label for="name">Date:</label>
            <input type="date" id="date" required>

            <label for="id_producer">Id producer:</label>
            <input type="number" id="id_producer" required>

            <label for="id_medicine">Id medicine:</label>
            <input type="number" id="id_medicine" required>
            <button type="submit">Add Sale</button>
        </form>
    </aside>
    <section>
        <h1>Sale's List</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
            </thead>
            <tbody id="sale-list">
    
            </tbody>
        </table>
    </section>
    <button><a href="../index.html">Voltar</a></button>
</body>

</html>