<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/supplier.js" defer></script>
    <link rel="stylesheet" href="./style/default.css">
    <title>Supplier's List</title>
</head>
<body>
    <aside>
    <h1>Supplier</h1>
        <form id="supplier-form">
            <label for="name">Name:</label>
            <input type="text" id="name" required autocomplete="additional-name">

            <label for="address">Address:</label>
            <input type="text" id="address" required autocomplete="address-level1">

            <label for="phone">Phone:</label>
            <input type="number" id="phone" required autocomplete="cc-number">
            <button type="submit">Add Supplier</button>
        </form>
    </aside>
    <section>
        <h1>Supplier's List</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>PHONE</th>
            </thead>
            <tbody id="supplier-list">
    
            </tbody>
        </table>
    </section>
    <button id="voltar"><a href="../index.html">Voltar</a></button>
</body>
</html>